form{
    padding-top:20px;
    text-align: center;
}
header h1{
    margin-left: 43%;
    font-size: 55px;
}
header h2{
    margin-left: 36%;
}
form{
    font-size: 25px;
    padding-bottom: 20px;
    
}
form a{
    text-decoration: none;
    color: #e8c709;
}
form input{
    padding-bottom: 10px;
    font-size: 20px;
}
form input[type="button"]{
    font-size: 20px;
    color: black;
    font-weight: bold;
    background-color: #e8c709;
    width: 6em;
    height: 2em;
    border: none;
    border-radius: 5px;
}
form input[type="button"]:hover{
    background-color: #fffb00;
    box-shadow: 3px 2px 3px white;
    box-sizing: border-box;
}
form a:hover {
    cursor: pointer;
    text-decoration: underline;
    
}
#sign-up{
    margin-left: 43%;
    font-size: 50px;
}
.button-post{
    width: 100px;
}
form input{
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
}
form label {
    padding-bottom: 10px;
    font-size: 25px;
}



